<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @student.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @student.lastname %>
</p>

<p>
  <b>Fullname:</b>
  <%= @student.fullname %>
</p>

<p>
  <b>Gender:</b>
  <%= @student.gender %>
</p>

<p>
  <b>Video:</b>
  <%= @student.video %>
</p>

<p>
  <b>Image:</b>
  <%= @student.image %>
</p>

<p>
  <b>I want to become:</b>
  <%= @student.i_want_to_become %>
</p>

<p>
  <b>Story:</b>
  <%= @student.story %>
</p>

<p>
  <b>Twitter:</b>
  <%= @student.twitter %>
</p>

<p>
  <b>City:</b>
  <%= @student.city %>
</p>

<p>
  <b>Province:</b>
  <%= @student.province %>
</p>

<p>
  <b>School:</b>
  <%= @student.school %>
</p>

<p>
  <b>School:</b>
  <%= @student.school_id %>
</p>

<p>
  <b>Graduation year:</b>
  <%= @student.graduation_year %>
</p>

<p>
  <b>Goal:</b>
  <%= @student.goal %>
</p>

<p>
  <b>User:</b>
  <%= @student.user_id %>
</p>

<p>
  <b>Stories:</b>
  <%= @student.stories %>
</p>

<p>
  <b>Reached goal:</b>
  <%= @student.reached_goal %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
