<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Manager</th>
    <th>Logo</th>
    <th>City</th>
    <th>Province</th>
    <th>Description</th>
    <th>Contribution</th>
    <th>Contribution count</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.manager %></td>
    <td><%= organization.logo %></td>
    <td><%= organization.city %></td>
    <td><%= organization.province %></td>
    <td><%= organization.description %></td>
    <td><%= organization.contribution %></td>
    <td><%= organization.contribution_count %></td>
    <td><%= organization.user_id %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
