<!DOCTYPE html>
<html>
<head>
  <title>Greenlight</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	Signed in as <%= current_user.name %>! <%= link_to "Sign out", signout_path, id: "sign_out" %> 
<% else %>
<%= link_to "Connect with Facebook", "/auth/facebook", id: "sign_in"%>
<% end %>
<%= yield %>

</body>
</html>
